nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

ol li {
  list-style-type: none;
}

nav ul li a:hover {
  background-color: #111111;
}

.search {
  position: relative;
  overflow: hidden;
  border-top: 1px solid rgb(234 185 125);
  border-bottom: 1px solid rgb(234 185 125);
  border-left: 1px solid rgb(234 185 125);
  border-right: 1px solid rgb(234 185 125);
  border-radius: 9px;
  height: 60px;
}
.search:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  height: 10px;
  left: 2%;
  border-radius: 80px / 5px;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.6);
}

.search:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 96%;
  bottom: -10px;
  height: 10px;
  left: 2%;
  border-radius: 100px / 5px;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.6);
}
.fontDetPayment {
  font-weight: 500;
}
